
head
  title ehp
  link(
    rel="stylesheet", 
    href="/index.css", 
    type="text/css"
  )
  link(
    rel="stylesheet", 
    href="/pug.css", 
    type="text/css"
  )
  link(
    rel="stylesheet", 
    href="/prism-okaidia.css", 
    type="text/css"
  )
  link(
    rel="stylesheet", 
    href="/prism-line-numbers.css", 
    type="text/css"
  )