
mixin api3(method)
  section(
    class='api-grid'
    id= method.id
  )
    .api-g1= method.def

    .api-g2.api-gCenter.api-gBorder: p= method.g2
    .api-g3.api-gBorder= method.g3 

    .api-g4.api-gCenter.api-gBorder: p= method.g4
    .api-g5.api-gCenter.api-gBorder: p= method.g5
    .api-g6.api-gCenter.api-gBorder: p= method.g6
    .api-g7.api-gCenter.api-gBorder: p= method.g7

    .api-g8.api-gCenter.api-gBorder: p= method.g8
    .api-g9.api-gCenter.api-gBorder: p= method.g9
    .api-g10.api-gCenter.api-gBorder: p= method.g10
    .api-g11.api-gCenter.api-gBorder: p= method.g11

    .api-g12.api-gCenter.api-gBorder: p= method.g12
    .api-g13.api-gCenter.api-gBorder: p= method.g13
    .api-g14.api-gCenter.api-gBorder: p= method.g14
    .api-g15.api-gCenter.api-gBorder: p= method.g15

    .api-g16.api-gCenter.api-gBorder: p= method.g16
    .api-g17.api-gCenter.api-gBorder: p= method.g17
    .api-g18.api-gCenter.api-gBorder: p= method.g18
    .api-g19.api-gCenter.api-gBorder: p= method.g19

    .api-g20.api-gCenter.api-gBorder: p= method.g20
    .api-g21.api-gBorder= method.g21

    .P-api-grid22 Code
