
nav.nav-wrapper
  a(class=home-link href='/')
    include ../../public/svgs/ehp.svg
  .button-group
    a(
      class= linkActive === 'es' ? 'es': 'es-link' 
      href='/elasticsearch'
    )
      .es-icon
    a(
      class= linkActive === 'hapi' ? 'hapi' : 'hapi-link' 
      href='/hapi'
    )
      .hapi-icon
    a(class=pug-link href='/pug')
      .pug-icon
  