
nav.nav-wrapper
  a(class=home-link href='/')
    include ../../public/svgs/ehp.svg
  .button-group
    a(
      class= linkActive === 'es' ? 'es': 'es-link' 
      href='/elasticsearch'
    )
      .es-icon
    a(href='/hapi')
      div(
        class= linkActive === 'hapi' ? 'hapi-icon-active' : 'hapi-icon' 
      )
    
    a(
      class= linkActive === 'pug' ? 'pug' : 'pug-link'  
      href='/pug'
    )
      .pug-icon
  