mixin borderZigzag()
  svg(
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 132.29166 52.916668"
    version="1.1"
    id="svg-pg-border-zigzag"
  )
    g(transform="translate(0,-244.08333)")
      path(
        style="opacity:1;fill:#efcca3;fill-opacity:1;stroke:none;stroke-width:0.79374999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        d="m 0,244.08333 h 132.29167 v 52.91666 H 0 Z"
        id="rect10703"
      )
      path(
        style="opacity:1;fill:#a86454;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
        d="M 0 0 L 0 100.50586 L 67.679688 84.337891 L 162.63477 106.56055 L 245.97266 80.802734 L 342.44141 107.06641 L 435.375 81.8125 L 500 104.31836 L 500 0 L 0 0 z "
        transform="matrix(0.26458333,0,0,0.26458333,0,244.08333)"
        id="path10706"
      )