
mixin spacer2(id)
  svg(
    class="es-sp-svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="none"
    viewBox="0 0 500 200"
    version="1.1"
  )
    path(
      id= id.A
      d="M 0,-1.6541472e-5 H 500 V 199.99998 H 0 Z"
    )
    path(
      id= id.B
      d="m -4.8e-4,199.99997 v -67.45899 c 0.0339,0.14581 0.0552,0.25956 0.0886,0.4043 -6.5e-4,-0.0721 -0.004,-0.13488 -0.005,-0.20703 0,-34.497649 18.66489,-62.457028 41.68599,-62.457028 22.511499,0.0189 40.943549,26.821049 41.636481,60.539058 C 84.0282,97.021091 102.48627,70.101872 125.0499,70.082002 c 22.1712,0.0416 40.44099,26.083239 41.57656,59.263668 h 0.0782 c 1.24995,-33.062429 19.50387,-58.918418 41.60262,-58.931638 20.94582,0.0389 38.61808,23.358889 41.28997,54.490228 2.88629,-30.549979 21.11967,-54.365228 42.22791,-54.365228 22.19993,0 40.33886,26.015239 41.60522,58.806638 h 0.0365 0.073 c -0.03,0.74647 -0.0427,1.49462 -0.0547,2.24219 0.008,0.34903 0.0183,0.69798 0.0208,1.04882 0.0201,0.082 0.031,0.14693 0.0495,0.22852 -6.1e-4,-0.0695 -0.005,-0.12972 -0.005,-0.19922 0,-34.497649 18.66229,-62.466798 41.68339,-62.466798 22.51151,0.0189 40.94355,26.822999 41.63648,60.541018 0.62261,-33.799229 19.08329,-60.720338 41.64691,-60.740238 21.7556,0.0408 39.74272,25.122779 41.48278,57.412108 V 199.9277 H 333.46659 V 200 Z m 0,-67.45899 v -3.12109 h 0.0703 c -0.0416,1.03865 -0.0635,2.08055 -0.0703,3.12109 z"
    )