
doctype html
html(lang='en')
  include partials/head.pug
  body
    include partials/nav.pug
    h1 All the news thats fit to 
    .news-wrapper
      p Reddit
      ol.news-list
        - const news = JSON.parse(redditNews)
        each item in news
          li= item.title
            .reddit-news-item-wrapper 
              span score: #{item.score}
              span ups: #{item.ups}
              span downs: #{item.downs}
              p source: #{item.domain}
              p= item.url